:root {
    --darkAqua: rgb(0, 130, 255);
    --darkFont: #113;
}

.overall {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

.searchBoxArea {
    margin-top: 20px;
    display: flex;
    width: auto;
    height: auto;
    justify-self: center;
    align-self: center;
    font-size: larger;
    font-weight: bold;
}

.tempArea {
    display: grid;
    grid-template-columns: repeat(4, 120px);
    grid-template-rows: repeat(4, 120px);
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
}

.area {
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 2px #222;
    white-space: pre;
    font-size: 12pt;
    font-weight: 500;
    color: var(--darkFont);
}

.mainTempCell {
    grid-column: 1 / 4;
    grid-row: 1 / 4;
    background-color: aqua;
}

.sideTwo {
    grid-column: 4 / 5;
    grid-row: 3 / 5;
}

.sideFour {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
    background-color: var(--darkAqua);
}

/* MAINTEMPAREAMAINTEMPAREAMAINTEMPAREAMAINTEMPAREAMAINTEMPAREAMAINTEMPAREAMAINTEMPAREAMAINTEMPAREAMAINTEMPAREAMAINTEMPAREAMAINTEMPAREAMAINTEMPAREAMAINTEMPAREAMAINTEMPAREA */
.mtcMainCont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
}

.tempCont,
.locCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    text-align: center;
}

.locCont {
    white-space: normal;
    font-size: larger;
    border-radius: 10px;
    background-color: var(--darkAqua);
    margin-left: 10px;
}

.currTemp,
.tempIconDiv,
.extraTempInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 33.3%;
    /* background-color: yellow; */
}

.currTemp {
    font-size: xx-large;
    font-weight: bolder;
}

.tempIconDiv {
    /* background-color: orange; */
    object-fit: cover;
}

.extraTempInfo {
    /* background-color: orangered; */
    border: 15px 15px;
    font-weight: bold;
    white-space: pre-line;
}

/* SIDEONESTYLESIDEONESTYLESIDEONESTYLESIDEONESTYLESIDEONESTYLESIDEONESTYLESIDEONESTYLESIDEONESTYLESIDEONESTYLESIDEONESTYLESIDEONESTYLESIDEONESTYLESIDEONESTYLESIDEONESTYLE */

.sideOne {
    grid-column: 4 / 5;
    grid-row: 1 / 3;
}

.sideOne,
.sideTwo {
    display: flex;
    flex-direction: column;
    border: 7px;
    background-color: var(--darkAqua);
}

.windIcon,
.windInfo,
.uvIcon,
.uvInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-top: 7px;
}

.windIcon,
.uvIcon {
    height: 30%;
    object-fit: contain;
}

.windInfo,
.uvInfo,
.sideThree {
    height: 70%;
    white-space: pre-line;
    text-align: center;
}

.sideThree {
    height: 100%;
    font-weight: bold;
    background-color: var(--darkAqua);
}

.moInfo {
    margin-left: 10px;
}

.moIcon {
    width: 20%;
    height: 80%;
    object-fit: contain;
}

.windIcon,
.uvIcon,
.moIcon {
    background-color: aqua;
    border-radius: 10px;

}

/* ERROROVERLAYERROROVERLAYERROROVERLAYERROROVERLAYERROROVERLAYERROROVERLAYERROROVERLAYERROROVERLAYERROROVERLAYERROROVERLAY */

.errorOverlay {
    background-color: red;
    width: 250px;
    height: 250px;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    font-weight: bolder;
    color: var(--darkFont);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -50%;
    border-radius: 10px;
    padding: 20px;
}

.errorMsg {
    text-align: center;
}

@keyframes errorSlideOn {
    from {
        top: -50%;
    }

    to {
        top: 30%;
    }
}

@keyframes errorSlideClose {
    from {
        top: 30%;
    }

    to {
        top: -50%;
    }
}